.wrapper-descripcion{
    display: flex;
    justify-content: center;
}

.wrapper-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}





@media (min-width:600px){ 
    .container-descripcion{
        width: 500px;
    }

    .container-menu{
        width: 500px;
    }

    .form-select{
        width: 450px;
    }
}

@media (min-width:1024px) { 
    .container-descripcion{
        width: 700px;
    }
}