<div class="container-fluid"> 
    <div class="row g-0">
        <div class="wrapper-opciones col-lg-2 mb-3 shadow-sm shadow-inset">
            <div class="wrapper-menu">
                <div class="container-menu">
                    <button [routerLink]="['alerta']" class="btn btn-menu">Alertar posible contagio</button>
                    <button [routerLink]="['capacidad-facultad']" class="btn btn-menu">Capturar capacidad de la facultad</button>
                    <button [routerLink]="['oficinas-externo']" class="btn btn-menu">Oficinas para usuarios externos</button>
                    <button [routerLink]="['gestionar-sicei']" class="btn btn-menu">Gestionar datos de SICEI</button>
                    <button [routerLink]="['gestion-registros']" class="btn btn-menu">Gestionar registros de asistencia</button>
                    <button [routerLink]="['estadisticas']" class="btn btn-menu">Estadísticas</button>
                    <button [routerLink]="['registro-usuarios']" class="btn btn-menu">Registrar usuarios</button>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="wrapper-descripcion">
                <div class="container-descripcion">
                    <h3 class="text-center">¡Bienvenido!</h3>
                    <p class="text-center">
                        Sesión iniciada como administrador con el usuario <strong>{{usuario}}</strong>.
                    </p>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>