<div class="container-fluid">

    <div class="wrapper-descripcion">
        <div class="descripcion">
            <p>Selecciona los archivos con la base de datos del SICEI</p>
        </div>
    </div>

    <div class="wrapper-formulario">
        <div class="container-formulario">
            <form [formGroup]="formularioBDSicei" (ngSubmit)="subirBDSicei()" ngNativeValidate>
                <div class="mb-3">
                    <label for="archivos" class="form-label">Seleccione el archivos:</label>
                    <input id="archivos" name="archivos" accept=".txt" (change)="archivosSeleccionados($event)" class="form-control" type="file" multiple required>
                </div>
                <div class="container-botones">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>