<div class="container-fluid">
    <div class="descripcion row g-0">
        <h3>Cuestionario</h3>
        
    </div>
    <div class="wrapper-cuestionario">
        <div class="container-cuestionario">
            <form ngNativeValidate>
                <p>Por favor responda el siguiente cuestionario con total honestidad</p>
                <div class="form-group" *ngFor="let question of preguntasBD">
                    <label for="gender">Gender:</label>
                    <div>
                      <input id="male" type="radio" value="male" name="gender" formControlName="gender">
                      <label for="male">Male</label>
                   </div>
          
                   <div>
                      <input id="female" type="radio" value="female" name="gender" formControlName="gender">
                      <label for="female">Female</label>
                   </div>
                      
                    <div *ngIf="f.gender.touched && f.gender.invalid" class="alert alert-danger">
                        <div *ngIf="f.gender.errors.required">Name is required.</div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>