<div class="container-fluid">
    <div class="wrapper-descripcion">
        <div class="descripcion">
            <p>Ingresa la matrícula del alumno y el periodo para alertar a aquellos que compartieron aula con él</p>
        </div>
    </div>

    <div class="wrapper-formulario">
        <div class="container-formulario">
            <form [formGroup]="formularioAlerta" (ngSubmit)="alertar()" class="row" ngNativeValidate>
                <div class="mb-3">
                    <label class="form-label" for="matricula">Matrícula:</label>
                    <input id="matricula" formControlName="matricula" type="text" class="form-control" placeholder="Ingresa la matrícula" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="fechaInicio" class="form-label">Fecha de incio</label>
                    <input id="fechaInicio" formControlName="fechaInicio" type="date" class="form-control" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="fechaFin" class="form-label">Fecha de fin</label>
                    <input id="fechaFin" formControlName="fechaFin" type="date" class="form-control" required>
                </div>
                <div class="container-botones">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-danger">Alertar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>